## About the dataset

This is perhaps the best known database to be found in the pattern recognition literature. The data set contains 3 classes of 50 instances each, where each class refers to a type of iris plant.  One class is linearly separable from the other 2; the latter are NOT linearly separable from each other.

Attribute Information:
   1. sepal length in cm
   2. sepal width in cm
   3. petal length in cm
   4. petal width in cm
   5. class: 
      -- Iris Setosa
      -- Iris Versicolour
      -- Iris Virginica

### Read the dataset and store it in the dataframe named Iris

In [4]:
import pandas as pd
import numpy as np

ds=pd.read_csv('Iris.csv')

df=pd.DataFrame(ds)

### Find out the datatypes of each and every column

In [8]:
df.dtypes

Sepal Length (in cm)    float64
Sepal Width in (cm)     float64
Petal length (in cm)    float64
Petal width (in cm)     float64
Class                    object
dtype: object

### Print top 10 & bottom 10 samples from the dataframe

In [5]:
print("First 10 samples from data frames is as follows")
df.head(10)

First 10 samples from data frames is as follows

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
0,5.1,3.5,1.4,0.2,Iris-setosa
1,4.9,3.0,1.4,0.2,Iris-setosa
2,4.7,3.2,1.3,0.2,Iris-setosa
3,4.6,3.1,1.5,0.2,Iris-setosa
4,5.0,3.6,1.4,0.2,Iris-setosa
5,5.4,3.9,1.7,0.4,Iris-setosa
6,4.6,3.4,1.4,0.3,Iris-setosa
7,5.0,3.4,1.5,0.2,Iris-setosa
8,4.4,2.9,1.4,0.2,Iris-setosa
9,4.9,3.1,1.5,0.1,Iris-setosa

In [13]:
print("Last 10 samples from data frames is as follows")
df.tail(10)

Last 10 samples from data frames is as follows

,Sepal Length (in cm),Sepal Width in (cm),Petal length (in cm),Petal width (in cm),Class
140,6.7,3.1,5.6,2.4,Iris-virginica
141,6.9,3.1,5.1,2.3,Iris-virginica
142,5.8,2.7,5.1,1.9,Iris-virginica
143,6.8,3.2,5.9,2.3,Iris-virginica
144,6.7,3.3,5.7,2.5,Iris-virginica
145,6.7,3.0,5.2,2.3,Iris-virginica
146,6.3,2.5,5.0,1.9,Iris-virginica
147,6.5,3.0,5.2,2.0,Iris-virginica
148,6.2,3.4,5.4,2.3,Iris-virginica
149,5.9,3.0,5.1,1.8,Iris-virginica

### Find the shape of the dataset

In [15]:
df.shape

(150, 5)

### Set the index of the dataframe to be the first column

### Use Iloc function to print all the rows of the 3rd column

### Slicing
Print only the Sepal width and Sepal Length for first 10 rows

### Using Logical statements for indexing
Print all the columns of row which has class name "Iris-setosa"

### Multiply Sepal Length and width and store it under the column name "SepalExtra" in the same Iris dataframe

### Find out the mean and variance for each column but for class column

In [20]:
print('Mean for all the columns calculated individually is')
df.mean()

Mean for all the columns calculated individually is

Sepal Length (in cm)    5.843333
Sepal Width in (cm)     3.054000
Petal length (in cm)    3.758667
Petal width (in cm)     1.198667
dtype: float64

In [21]:
print('Variance for all the columns calculated individually is')
df.var()

Variance for all the columns calculated individually is

Sepal Length (in cm)    0.685694
Sepal Width in (cm)     0.188004
Petal length (in cm)    3.113179
Petal width (in cm)     0.582414
dtype: float64

### Write a function that accepts two numbers as input and prints them - Pass the Sepal length and sepal width of 5th row and print the output

In [39]:
def sum(x,y):
    return x+y

#df.iloc[4,0]
print(sum(df.iloc[4,0],df.iloc[4,1]))

8.6

### Find the range of all the columns in the dataset

*Range = Max value - Min value (in the column)*

### Sort the entire dataset according to the column Petal width

### Remove the new column "SepalExtra" from the dataframe

### Print only the rows which has the class to be "Iris-setosa"

### Take only the top 10 rows of the dataset with only first 3 columns and store it in a dataframe named "IrisSubset"