# 1. Read the data set and replace dashes with 0 to make sure you can perform arithmetic operations on the data.

In [ ]:
import numpy as np
import pandas as pd

df=pd.read_csv('Laliga.csv')

In [3]:
df.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,-,-,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,-,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,-,2,3,4,4,14,1932-33,2015-16,1

In [4]:
df=df.replace('-',0)

In [6]:
df.head(10)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,Champion,Runner-up,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition
0,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,33,23,8,8,3,4,79,1929,1929,1
1,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,25,25,12,12,4,6,83,1929,1929,1
2,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,10,8,16,9,7,6,56,1929,2002-03,1
3,4,Valencia,82,3386,2664,1187,616,861,4398,3469,6,6,10,11,10,7,50,1931-32,1987-88,1
4,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,8,7,10,5,8,10,49,1929,1929,1
5,6,Sevilla,73,2819,2408,990,531,887,3680,3373,1,4,4,5,12,6,32,1934-35,2001-02,1
6,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,0,0,4,5,2,5,16,1929,1994-95,3
7,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,2,3,2,5,4,3,19,1929,2010-11,1
8,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,0,1,4,5,4,4,18,1939-40,2012-13,2
9,10,Real Betis,51,1884,1728,606,440,682,2159,2492,1,0,2,3,4,4,14,1932-33,2015-16,1

# 2. Print all the teams which have started playing between 1930-1980.

In [7]:
df['StartYear']=df['Debut'].str[0:4].astype(int)
DebutSeries= df[(df['StartYear']>=1930) & (df['StartYear']<=1980)]
DebutSeries[['Team','StartYear']].sort_values('StartYear')                                     
#DebutSeries.sort('StartYear')

                   Team  StartYear
28               Alaves       1930
3              Valencia       1931
9            Real Betis       1932
17               Oviedo       1933
5               Sevilla       1934
25             Hercules       1935
15              Osasuna       1935
8              Zaragoza       1939
11           Celta Vigo       1939
27               Murcia       1940
21              Granada       1941
10  Deportivo La Coruna       1941
34            Castellon       1941
31             Sabadell       1943
14       Sporting Gijon       1944
49             Alcoyano       1945
46            Gimnastic       1947
12           Valladolid       1948
16               Malaga       1949
54               Lleida       1950
19           Las Palmas       1951
58      Atletico Tetuan       1951
50                 Jaen       1953
59     Cultural Leonesa       1955
57               Condal       1956
23                Elche       1959
18             Mallorca       1960
26             Tenerife       1961
37              Cordoba       1962
29              Levante       1963
41           Pontevedra       1963
40            Burgos CF       1971
30            Salamanca       1974
22       Rayo Vallecano       1977
32                Cadiz       1977
39           Recreativo       1978
52           AD Almeria       1979

# 3. Print the list of teams which came Top 5 in terms of points

In [54]:
df['Points'] = pd.to_numeric(df['Points'])
df[['Team','Points']].sort_values(by=['Points'],ascending=False).head(5)

                            Team  Points
Team
Real Madrid          Real Madrid    4385
Barcelona              Barcelona    4262
Atletico Madrid  Atletico Madrid    3442
Valencia                Valencia    3386
Athletic Bilbao  Athletic Bilbao    3368

# 4. Write a function with name “Goal_diff_count” which should return all the teams with their Goal Differences. 

## Using the same function, find the team which has maximum and minimum goal difference.

In [62]:
def Goal_Diff_Count(Ds):
   
    Ds.index=Ds['Team']
    Ds[['GoalsFor', 'GoalsAgainst']] = Ds[['GoalsFor', 'GoalsAgainst']].apply(pd.to_numeric)
   
    
    Diff = Ds['GoalsFor']-Ds['GoalsAgainst']
    Diff.columns='Goal Diff'
    return Diff

#print(Goal_Diff_Count(df))

print(Goal_Diff_Count(df).sort_values())

Team
Racing Santander       -525
Valladolid             -413
Las Palmas             -399
Sporting Gijon         -399
Murcia                 -385
Celta Vigo             -346
Malaga                 -342
Granada                -338
Osasuna                -334
Hercules               -334
Real Betis             -333
Rayo Vallecano         -328
Oviedo                 -309
Espanyol               -280
Elche                  -272
Cadiz                  -269
Sabadell               -228
Levante                -202
Logrones               -198
Mallorca               -189
Castellon              -169
Alaves                 -165
Zaragoza               -164
Salamanca              -159
Cordoba                -145
Deportivo La Coruna    -136
Tenerife               -125
Almeria                -122
Gimnastic              -114
Getafe                 -113
                       ...
Alcoyano               -107
Numancia                -98
Burgos CF               -94
Recreativo              -94
Albacete                -90
Arenas                  -81
Jaen                    -62
Pontevedra              -56
Extremadura             -55
Merida                  -45
AD Almeria              -45
Compostela              -42
Real Burgos             -38
Atletico Tetuan         -34
Europa                  -34
Cultural Leonesa        -31
Real Union              -31
Xerez                   -28
Eibar                   -28
Condal                  -20
Leganes                 -19
Real Sociedad            -2
Girona                    0
Villarreal              103
Sevilla                 307
Valencia                929
Athletic Bilbao         931
Atletico Madrid        1225
Barcelona              2786
Real Madrid            2807
Length: 61, dtype: int64

In [29]:
print("Min Point difference by a team")
print(Goal_Diff_Count(df).sort_values().head(1))
print("Max Point difference by a team")
print(Goal_Diff_Count(df).sort_values().tail(1))

Min Point difference by a team
Team
Racing Santander   -525
dtype: int64
Max Point difference by a team
Team
Real Madrid    2807
dtype: int64

# 5. Create a new column with name “Winning Percent” and append it to the data set

In [34]:
df['Winning Percent']=(df['GamesWon'].astype(int)/df['GamesPlayed'].astype(int))*100

df['Winning Percent'] = df['Winning Percent'].replace(np.nan, 0)
df

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,StartYear,Winning Percent
Team,,,,,,,,,,,,,,,,,,,,,
Real Madrid,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,1929,59.630702
Barcelona,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,1929,57.241130
Atletico Madrid,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1929,47.475134
Valencia,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,1931,44.557057
Athletic Bilbao,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,1929,43.772629
Sevilla,6,Sevilla,73,2819,2408,990,531,887,3680,3373,...,4,5,12,6,32,1934-35,2001-02,1,1934,41.112957
Espanyol,7,Espanyol,82,2792,2626,948,608,1070,3609,3889,...,4,5,2,5,16,1929,1994-95,3,1929,36.100533
Real Sociedad,8,Real Sociedad,70,2573,2302,864,577,861,3228,3230,...,2,5,4,3,19,1929,2010-11,1,1929,37.532580
Zaragoza,9,Zaragoza,58,2109,1986,698,522,766,2683,2847,...,4,5,4,4,18,1939-40,2012-13,2,1939,35.146022
Real Betis,10,Real Betis,51,1884,1728,606,440,682,2159,2492,...,2,3,4,4,14,1932-33,2015-16,1,1932,35.069444
Deportivo La Coruna,11,Deportivo La Coruna,45,1814,1530,563,392,575,2052,2188,...,4,1,0,1,12,1941-42,2014-15,1,1941,36.797386
Celta Vigo,12,Celta Vigo,51,1789,1698,586,389,723,2278,2624,...,0,2,4,5,11,1939-40,2012-13,4,1939,34.511190
Valladolid,13,Valladolid,42,1471,1466,463,384,619,1767,2180,...,0,1,1,1,3,1948-49,2013-14,4,1948,31.582538
Racing Santander,14,Racing Santander,44,1416,1428,453,336,639,1843,2368,...,1,2,0,1,5,1929,2011-12,2,1929,31.722689
Sporting Gijon,15,Sporting Gijon,43,1389,1458,471,358,629,1753,2152,...,1,2,2,1,7,1944-45,2015-16,2,1944,32.304527
Osasuna,16,Osasuna,37,1351,1318,426,327,565,1500,1834,...,0,2,2,2,6,1935-36,2016-17,4,1935,32.321700
Malaga,17,Malaga,36,1314,1255,390,330,535,1421,1763,...,0,1,0,1,2,1949-50,2008-09,4,1949,31.075697
Oviedo,18,Oviedo,38,1174,1192,408,292,492,1642,1951,...,3,2,2,4,11,1933-34,2000-01,3,1933,34.228188
Mallorca,19,Mallorca,27,1148,988,333,256,399,1182,1371,...,2,0,2,1,5,1960-61,2012-13,3,1960,33.704453
Las Palmas,20,Las Palmas,33,1020,1096,367,242,487,1347,1746,...,1,1,1,1,5,1951-52,2015-16,2,1951,33.485401
Villarreal,21,Villarreal,17,970,646,266,172,208,892,789,...,1,2,3,2,9,1998-99,2013-14,2,1998,41.176471
Granada,22,Granada,23,667,742,218,175,349,819,1157,...,0,0,0,2,2,1941-42,2016-17,6,1941,29.380054
Rayo Vallecano,23,Rayo Vallecano,17,662,652,189,148,305,760,1088,...,0,0,0,0,0,1977-78,2015-16,8,1977,28.987730
Elche,24,Elche,21,606,678,203,180,295,750,1022,...,0,0,1,1,2,1959-60,2014-15,5,1959,29.941003
Getafe,25,Getafe,12,553,456,147,112,197,520,633,...,0,0,0,1,1,2004-05,2015-16,6,2004,32.236842
Hercules,26,Hercules,20,538,628,184,149,295,716,1050,...,0,0,1,4,5,1935-36,2010-11,5,1935,29.299363
Tenerife,27,Tenerife,13,510,494,155,128,211,619,744,...,0,0,2,0,2,1961-62,2009-10,5,1961,31.376518
Murcia,28,Murcia,18,445,586,145,143,298,607,992,...,0,0,0,0,0,1940-41,2007-08,11,1940,24.744027
Alaves,29,Alaves,12,421,380,125,81,174,458,623,...,0,0,0,1,1,1930-31,2016-17,6,1930,32.894737
Levante,30,Levante,11,416,402,113,95,194,430,632,...,0,0,0,1,1,1963-64,2015-16,6,1963,28.109453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Sabadell,32,Sabadell,14,353,426,129,95,202,492,720,...,0,1,1,0,2,1943-44,1987-88,4,1943,30.281690
Cadiz,33,Cadiz,12,343,448,104,127,217,393,662,...,0,0,0,0,0,1977-78,2005-06,12,1977,23.214286
Logrones,34,Logrones,9,293,346,96,92,158,291,489,...,0,0,0,0,0,1987-88,1996-97,7,1987,27.745665
Castellon,35,Castellon,11,285,334,103,79,152,419,588,...,0,1,2,0,3,1941-42,1990-91,4,1941,30.838323
Albacete,36,Albacete,7,277,270,76,76,118,320,410,...,0,0,0,0,0,1991-92,2004-05,7,1991,28.148148
Almeria,37,Almeria,6,242,228,62,56,110,244,366,...,0,0,0,0,0,2007-08,2014-15,8,2007,27.192982
Cordoba,38,Cordoba,9,230,282,82,63,137,285,430,...,0,0,1,0,1,1962-63,2014-15,5,1962,29.078014
Compostela,39,Compostela,4,190,160,52,45,63,199,241,...,0,0,0,0,0,1994-95,1997-98,10,1994,32.500000
Recreativo,40,Recreativo,5,188,186,50,46,90,202,296,...,0,0,0,0,0,1978-79,2008-09,8,1978,26.881720
Burgos CF,41,Burgos CF,6,168,204,59,50,95,216,310,...,0,0,0,0,0,1971-72,1979-80,12,1971,28.921569
Pontevedra,42,Pontevedra,6,150,180,53,44,83,165,221,...,0,0,0,0,0,1963-64,1969-70,7,1963,29.444444
Numancia,43,Numancia,4,148,152,37,37,78,155,253,...,0,0,0,0,0,1999-00,2008-09,17,1999,24.342105
Eibar,44,Eibar,3,132,114,35,27,52,139,167,...,0,0,0,0,0,2014-15,2014-15,10,2014,30.701754
Arenas,45,Arenas,7,107,130,43,21,66,227,308,...,1,0,3,0,4,1929,1934-35,3,1929,33.076923
Real Burgos,46,Real Burgos,3,96,114,26,44,44,101,139,...,0,0,0,0,0,1990-91,1992-93,9,1990,22.807018
Gimnastic,47,Gimnastic,4,91,116,34,16,66,181,295,...,0,0,0,0,0,1947-48,2006-07,7,1947,29.310345
Extremadura,48,Extremadura,2,83,80,20,23,37,62,117,...,0,0,0,0,0,1996-97,1998-99,17,1996,25.000000
Merida,49,Merida,2,81,80,19,24,37,70,115,...,0,0,0,0,0,1995-96,1997-98,19,1995,23.750000
Alcoyano,50,Alcoyano,4,76,108,30,16,62,145,252,...,0,0,0,0,0,1945-46,1950-51,10,1945,27.777778
Jaen,51,Jaen,3,71,90,29,13,48,121,183,...,0,0,0,0,0,1953-54,1957-58,14,1953,32.222222
Real Union,52,Real Union,4,56,72,21,14,37,153,184,...,0,0,0,1,1,1929,1931-32,6,1929,29.166667
AD Almeria,53,AD Almeria,2,52,68,17,18,33,71,116,...,0,0,0,0,0,1979-80,1980-81,10,1979,25.000000
Europa,54,Europa,3,42,54,18,6,30,97,131,...,0,0,0,0,0,1929,1930-31,8,1929,33.333333
Lleida,55,Lleida,2,40,68,13,14,41,70,182,...,0,0,0,0,0,1950-51,1993-94,16,1950,19.117647
Leganes,56,Leganes,1,35,38,8,11,19,36,55,...,0,0,0,0,0,2016-17,2016-17,17,2016,21.052632
Xerez,57,Xerez,1,34,38,8,10,20,38,66,...,0,0,0,0,0,2009-10,2009-10,20,2009,21.052632
Condal,58,Condal,1,22,30,7,8,15,37,57,...,0,0,0,0,0,1956-57,1956-57,16,1956,23.333333
Atletico Tetuan,59,Atletico Tetuan,1,19,30,7,5,18,51,85,...,0,0,0,0,0,1951-52,1951-52,16,1951,23.333333
Cultural Leonesa,60,Cultural Leonesa,1,14,30,5,4,21,34,65,...,0,0,0,0,0,1955-56,1955-56,15,1955,16.666667
Girona,61,Girona,1,0,0,0,0,0,0,0,...,0,0,0,0,0,2017-18,2017-18,9,2017,0.000000

# 6. Group teams based on their “Best position” and print the sum of their points for all positions

In [52]:
def f(x):   
   a =  x['Points'].sum()   
   return pd.Series([a], index=['Points'])


print (df.groupby(['BestPosition']).apply(f) )

              Points
BestPosition
1              27933
2               6904
3               5221
4               6563
5               1884
6               2113
7               1186
8               1134
9                 96
10               450
11               445
12               511
14                71
15                14
16                81
17               266
19                81
20                34